* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

a {
  color: rgb(216, 216, 44);
}

body {
  background-color: rgb(36, 29, 29);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  background-color: white;
  color: rgb(36, 29, 29);
  padding: 20px;
  width: 100vw;
}

h2 {
  margin-bottom: 20px;
}

.box {
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 50px;
  width: 250px;
}

p {
  margin-bottom: 10px;
}

.numbers {
  font-size: 40px;
}
